.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store

# ignore local folder with massive SQL databases
/ignore


# Windows office files
*.tmp

# Word temporary
~$*.doc*

# Word Auto Backup File
Backup of *.doc*

# Excel temporary
~$*.xls*

# Excel Backup File
*.xlk

# PowerPoint temporary
~$*.ppt*

# Visio autosave temporary files
*.~vsd*

# ignore googleDrive sync files
**/desktop.ini